*{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}

div{
    padding:10%;
    margin-bottom: 5px;
    padding:10px;
    border-radius: 10px;
}

h2{
    font-size: 16px;
}

p{
    font-size: 12px;
}

a, a:hover{
    font-size:12px;
    font-weight: bold;
    text-decoration: none;
}

a{
    color:antiquewhite;
}

a:hover{
    color:purple;
}

.pending{
    background:linear-gradient(to top right, orangered, orange);
}

.finished{
    background:linear-gradient(to top right, green, darkgreen);
}

.finished h2, .finished p{
    color:antiquewhite
}

.finished a:hover{
    color:orange
}

button{
    float:right;
    font-weight: bold;
    margin-bottom: 5px;
    padding:10px;
    background:linear-gradient(to top right, purple, darkblue);
    border-radius: 10px;
    border:0px;
    color:antiquewhite;
}

button:hover{
    color:orangered;
}

button:focus{
    background:linear-gradient(to top right, darkblue, purple);
}