<form [formGroup]="taskForm" (submit)="onSubmit(); $event.preventDefault()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Naziv zadatka</mat-label>
            <input matInput formControlName="title">
            <mat-hint>Ovaj sadržaj će biti naslov kartice</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Kratak opis zadatka</mat-label>
            <input matInput formControlName="desc">
            <mat-hint>Ovaj sadržaj će se prikazati na kartici</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Detalji zadatka</mat-label>
            <textarea matInput formControlName="details"></textarea>
            <mat-hint>Ovaj sadržaj će se prikazati prilikom otvaranja stranice "Detalji"</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <button mat-fab extended>Dodajte novi zadatak</button>
    </p>
</form>
