a, a:hover{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-decoration:none
}

div{
    margin-bottom: 5px;
    padding:10px;
    background:linear-gradient(to top right, orangered, orange);
    border-radius: 5px;
    display: inline-block
}

a{
    color:antiquewhite;
}

a:hover{
    color:purple;
}